/*
|--------------------------------------------------------------------------
| Theme Colors
|--------------------------------------------------------------------------
*/
$conch-green: #c4d8d3;
$friendly-blue: #306d77;
$persian-green: #16a597;
$prussian-blue: #022856;

$success-green: #3fba89;
$warning-yellow: #fcd214;
$error-red: #eb6866;




/*
|--------------------------------------------------------------------------
| Other Random Colors
|--------------------------------------------------------------------------
*/

//-- Anytime we have gray, add a little blue
$david-gray: #495257;
$manatee-gray: #999ea4;
$lavender-gray: #c5c5c7;
$platinum-gray: #dde2e7;
$ghost: #f6f6f8;
$black: #000000;
$white: #ffffff;
$black-pearl: #1e1f29;
$testimonial-font-color: $manatee-gray;


$default-hero-background-color: $prussian-blue;
