@font-face {
    font-family: 'crossten';
    src: url('../fonts/crossten/crossten_extralight-webfont.eot');
    src: url('../fonts/crossten/crossten_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crossten/crossten_extralight-webfont.woff2') format('woff2'),
         url('../fonts/crossten/crossten_extralight-webfont.woff') format('woff'),
         url('../fonts/crossten/crossten_extralight-webfont.ttf') format('truetype'),
         url('../fonts/crossten/crossten_extralight-webfont.svg#crosstenextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stereonic';
    src: url('../fonts/stereonic/stereonic-xs-webfont.eot');
    src: url('../fonts/stereonic/stereonic-xs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stereonic/stereonic-xs-webfont.woff2') format('woff2'),
         url('../fonts/stereonic/stereonic-xs-webfont.woff') format('woff'),
         url('../fonts/stereonic/stereonic-xs-webfont.ttf') format('truetype'),
         url('../fonts/stereonic/stereonic-xs-webfont.svg#stereonicxs') format('svg');
    font-weight: normal;
    font-style: normal;
}
