.menu {
  justify-content: center;

  @include breakpoint(tablet) {
    justify-content: left;
  }
  a {
    text-transform: uppercase;
    font-family: $heading-font;
    font-weight: bold;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }

    &.brand {
      text-transform: lowercase;
    }
  }
}
